<%= link_to 'New Event', new_event_path, class:"btn btn-default pull-right" %>

<table class="table">
  <tr> 
    <th>Title</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Email</th>
    <th>Start</th>
    <th>End</th>
    <th>Group ID</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= number_to_currency(event.cost) %></td>
      <td><%= event.email %></td>
      <td><%= event.start %></td>
      <td><%= event.end %></td>
      <% if event.group_id %>
        <td><%= Group.find(event.group_id).name %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= link_to 'Show', event_path(event) %></td>
    </tr>
  <% end %>
</table>
