<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
 
<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@event.cost) %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @event.email %>
</p>
 
<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>
 
<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>
